*.cat
*.dat
x3files.xml
director/director.css
director/director.htm
director/director.xsd
director/director.xsl
director/dirobjdb.xsd
director/dirschema.xsl
L/x3config_dev.obj
L/x3galedit_dev.obj
L/x3intro_dev.obj
L/x3story_dev.obj
loadscr/backup/
mov/
mods/readme.txt
*.bak
PluginManager/Readme/Community Plugin Configuration/
scripts/*.pck
scripts/x2script.xsl
scripts/z.*
soundtrack/
t/0001-L044.xml
t/1000-*
scripts/setup.cycrow.cheat.xml
scripts/!a.*
scripts/a.*
scripts/plugin.patch.*
scripts/setup.cycrow.patch.xml
scripts/setup.cycrow.library.xml
t/9999-*
